
/*****
========================================================================
  TICKET IN NEW WINDOW
========================================================================
*****/

/** Theme: Dark Nite **/

body {
  padding-top:100px;
}

#divHeader {
/* 	background-color: red!important; */
}

.feed-item-text {
  color: var(--light-text);
}

#thTicket_lblStatus {
  padding-top:3%;
  width:500px;
  float:right;
	font-size: 32px;
	font-family: var(--google);
	letter-spacing:var(--letters);
	word-spacing:.02em;
	color: var(--in-process)!important;
}

#divDetails,
#divCustomAttributes{
	color:var(--light-text)!important;
	border: 1px solid var(--light-border);
}

.panel-default {
	background-color:var(--dark-bg)!important;
	border: 1px solid var(--light-border);
	border-radius: var(--gmail-response);
  margin-bottom:8px;
}

.panel-body { /* condense panels */
	background-color:var(--dark-bg)!important;
	padding: 0px 12px!important;
}

div.panel-heading {
	background-color:var(--dark-bg)!important;
	border:0px!important;
}

.block-container .infoSection a {
	color:var(--clear)!important;
}

.block-container {
	margin:0px!important;
	margin-bottom:4px!important;
	padding:8px!important;
}

.infoSection { 
	display:none;
	font-size:1.2rem;
}

.block-container .fileInfo {
	float:right!important;
}

.block-container:hover .infoSection,
.block-container:hover { /* includes date */
	display:flex;
	background-color:var(--darker-bg)!important;
}

.fa.fa-desktop { display:none!important; } /* desktop icon */ 

.block-container .infoSection i { /* trash and image icons */
	font-size:2.6rem;
	margin-right:-4px!important;
	margin-left:-4px!important;
	padding:0px!important;
}

.block-container .infoSection i:hover {
	color:orangered!important;
}

#thTicket_spnTitle {
	font-size: 28px;
	padding-top:1%;
  margin-bottom:0;
  font-weight:bold;
  font-family:'Product Sans';
  min-width: 50vw;
}

#thTicket_spnTitle:before {
	color: royalblue;
	content: "REQUEST: ";
/* 	display: none; */
}

#mdl_system_button {
  color:#ccc;
  background:transparent;
  border-radius: 4rem;
  border:1px solid #bbb;
  display: flex;
  height:32px;
  margin:4;
  outline:none;
}

#mdl_system_button:hover {
  border:1px solid orangered;
  color:orangered;
  box-shadow: var(--button-shadow);
  transition: var(--button-blend);
}

.panel-default:hover,
#divDetails:hover,
#divDescription:hover,
#divCustomAttributes:hover,
#btnComment:hover,
#btnUpdateTicket:hover {
	box-shadow: var(--button-shadow);
  transition: var(--button-blend);
}

.feed-entry-actions { /** Comment and Like links **/
  display:none;
}

 div#upItemCounts > ul > li {
  display:none;
  border: 2px solid coral;
  float:right;
}

div#upItemCounts > ul > li:nth-child(2) {
  display:none;
/*   display:inline-block; */
  border: 1px solid green;
}

.showItem {
	display: block;
	text-align: center;
	color: black;
	width: 50px;
	background-color: lightcoral;
}

.hideItem:hover,
.showItem:hover {
	background-color: gray;
	cursor: pointer;
}

#divHours,
#divReviewer,
#divUrgency,
#divPriority,
#divType,
#divService,
#divSource,
#divDetails h2 {
	display: none;
}

.disp-group,
#divCustomAttributes,
#divDetails {
	padding: 8px;
	margin-bottom: 4px;
}

.gutter-top {
	margin: 0px;
}

#divAttribute77363 > div {
	/** Copy MAC Address **/
	font-size: 24px;
	color: orangered;
}

#divTabHeader {
  background-color:transparent!important;
  border-bottom:0;
}

#divDetails {
	border-radius: 1rem;
}

#divTags {
}

.col-md-5 {
/*   display:none; */
  width:25%;
/*   border: 5px solid red; */
  border-radius: 1rem;
  position:sticky; /* need for sticky */
  z-index:1; /* need for sticky */
  top:100px; /* need for sticky */
}

.col-md-7 {
/*   display:none; */
  border-radius: 1rem;
  width:75%;
/*   border: 5px solid red; */
}

#divFeed {
  display:inline;
  border:0;
}

#divDescription {
  background:orangered;
	border:0px!important;
  color:var(--light-text);
	border-radius: var(--gmail-response)!important;
  margin-bottom: 8px;
  font-size:1.8rem;
	padding:8px!important;
}

#divDescription h2 {
  font-family: 'Product Sans';
  color:var(--light-text);
  font-weight:bold;
  border-bottom:0;
  margin:0!important;
  letter-spacing: var(--letters);
}

#divCustomAttributes {
  border-radius:var(--gmail-response)!important;
	background-color: lightyellow;
	color:var(--mid-text)!important;
}

#flex_container {
  width:98vw;
  padding: 4px;
/*   border:5px solid royalblue; */
}

#flex1 {
  margin-left:10px;
  margin-right:10px;
  float:left;
  width: 20vw;
  position:sticky; /* need for sticky */
  z-index:1; /* need for sticky */
  top:14vh; /* need for sticky */
}
#flex2 {
  padding-left:1vw;
  padding-right:1vw;
  border-radius:1rem;
  display:inline-block;
  box-sizing: border-box;
  width: 50vw;
  border: 1px solid #ccc;
}
#flex3 {
  float:right;
  width: 23vw;
  position:sticky; /* need for sticky */
  z-index:1; /* need for sticky */
  top:14vh; /* need for sticky */
}

#flex2:hover {
  box-shadow: var(--button-shadow);
  transition: var(--button-blend);
}

#show_system_items {
  color: #ccc;
  outline:none;
}

.nav {}
.nav-tabs {	border:0px;	}
.dropdown-menu {	letter-spacing: var(--letters);	}

#btnTakeTicket,
#divReassignTicket,
#divUnassignTicket,
#divChangeClassification,
#divCreateParentTicket,
#divSetParent,
#divForward,
#divCreateTemplate,
#divCopyTicket,
#divAssignWorkflow {
	display: none!important;
}

.control-label {
	color: var(--light-text);
}
